/* ==UserStyle==
@name           StretchGPT: Extra Wide ChatGPT Conversations
@version        5.1
@author         m1kethai
@description    Improves ChatGPT conversation readability by removing the narrow fixed content width and replacing it with subtle, adaptive padding for a consistent UX across all screen sizes.
@namespace      https://github.com/m1kethai/StretchGPT-Userstyle
@preprocessor   less
@var checkbox   hideAvatars       "Hide chat avatars: allows message content to expand further" 0
@var checkbox   enableColorize    "Enable colorization: unlocks color-related options below (currently ignored in ChatGPT's Light theme)" 0
@var checkbox   colorizeInput    "Colorize main prompt input/textarea" 1
@var checkbox   colorizeMsgBg    "Colorize user message background" 1
@var select     customColor    "Select custom color" {
	"Aged Sage*":                 "#8da572",
	"Akira":                      "#840000",
	"Amaretto":                   "#ab6f60",
	"Ancient Gold":               "#b59410",
	"Aztek":                      "#293432",
	"Black Pearl":                "#1e272c",
	"Black Sabbath":              "#220022",
	"Blue Moss":                  "#5D737E",
	"Cardamom":                   "#aaaa77",
	"Caviar":                     "#292a2d",
	"Cyber Grape":                "#58427C",
	"Cyprus":                     "#545a3e",
	"Dark and Stormy":            "#353f51",
	"Deep Jungle":                "#1A2421",
	"Deep Space":                 "#2D3142",
	"Dusty Turquoise":            "#5a8a89",
	"Earl Grey":                  "#a6978a",
	"Emerald":                    "#0f380f",
	"FF06B5":                     "#FF06B5",
	"Gameboy Teal":               "#0ABFBC",
	"Japanese Violet":            "#5B3256",
	"Lobster Bisque":             "#FFDAB9",
	"Obsidian Ash":               "#343434",
	"Purple Haze":                "#807396",
	"Raichu":                     "#fc8c2c",
	"Sakura Bloom":               "#ff7b9c",
	"Sharp Indigo":               "#48007c",
	"Super Blue Lavender":        "#5a5b9f",
	"Tokyo Midnight":             "#1a1a2e",
}

==/UserStyle== */
@-moz-document domain("chat.openai.com") {

    /* ************************************************* */
    /* STRETCH ***************************************** */
    /* ************************************************* */

    /* Messages ======================================== */

    /* Main/Outer Div ---------------------------------- */
    div.w-full {
        --pl: max(calc(1vw*1rem), 1rem);
        --pr: max(calc(1vw*1rem), 1rem);
        padding: var(--pt) var(--pr) var(--pb) var(--pl);

        @media (min-width: 768px) {
            --pt: 1.5rem;
            --pl: 2vw;
            --pr: 2vw;

            @media (min-width: 1536px) {
                --pt: min(calc(3vh*1rem), 1.5rem);
                --pl: 1.5rem;
                --pr: 1.5rem;
            }
        }

        /* Inner Message Div: Lvl 1 -------------------- */
        >div.justify-center.m-auto {
            padding-top: 1.25rem;
            padding-bottom: 0.5rem;

            /* Sidebar classes - closed, open, fallback */
            >div.flex.flex-1.mx-auto.md\:max-w-3xl,
            >div.flex.mx-auto.md\:max-w-2xl.lg\:max-w-\[38rem\].xl\:max-w-3xl,
            >div:only-child {
                @avatarSize: 24px;

                max-width: 100% !important;
                padding-left: 2vw !important;
                padding-right: 2vw !important;

                & when(@hideAvatars =0) {
                    @media (max-width: 767px) {
                        padding-left: 0 !important;
                    }
                    >div:first-child+div {
                        width: calc(100% - @avatarSize) !important;
                    }
                }

                /* Message Content Div ----------------- */
                >div:last-child {
                    padding: 0 !important;

                    div.lg\:absolute.lg\:top-0.lg\:translate-x-full.lg\:right-0.lg\:mt-0.lg\:pl-2 {
                        &,
                        >div.flex.gap-1 {
                            gap: 0;
                        }
                        button {
                            padding: 3px
                        }
                    }
                }
            }
        }

        /* Inner Message Div: Lvl 2 -------------------- */
        .md\:max-w-3xl.lg\:max-w-\[40rem\].xl\:max-w-\[48rem\] {
            max-width: 100% !important;
        }
    }

    /* ************************************************* */
    /* HIDE AVATARS ************************************ */
    /* ************************************************* */

    div.w-full when(@hideAvatars =1) {
        >div.justify-center.m-auto {
            >div.flex.flex-1.mx-auto.md\:max-w-3xl,
            >div.flex.mx-auto.md\:max-w-2xl.lg\:max-w-\[38rem\].xl\:max-w-3xl,
            >div:only-child {
                /* Hide the avatars: */
                >div:first-child { display: none }

                /* Adjust the left indent for bullet points so it's flush with the rest of the message contents: */
                .markdown.prose {
                    ol, ul {
                        padding-left: max(calc(1vw * 1rem), 0.5rem);
                    }
                }
            }
        }
    }

    /* ************************************************* */
    /* COLORIZE **************************************** */
    /* ************************************************* */

    /* Mixin =========================================== */

    #colorLib() {
        /* Default BG & Text Colors ----------------------------- */
        .defaults(dark) {
            @colors: {
                @bg: #212121; /* '--main-surface-primary', '--gray-800' */
                @text: #ececec; /* '--text-primary', '--gray-100' */
            }
        }
        .defaults(light) {
            @colors: {
                @bg: white; /* '--main-surface-primary', '--gray-100' */
                @text: #0d0d0d; /* '--text-primary', '--gray-950' */
            }
        }

        /* Colorize functions ----------------------------------- */
        .bgTint(@theme, @base) {
            @sat: round(saturation(@blended));
            @blended: if(
                @theme =light,
                mix(@base, @customColor, 90%),
                if(
                    luma(@customColor) < 5%,
                    @customColor,
                    mix(@base, @customColor, 70%)
                )
            );
            @faded: fadeout(@blended,
                if(@sat <= 55%, 0%,
                    if(@sat < 70%, 40%,
                        if(@sat < 90%, 50%,
                            60%
                        )
                    )
                ),
                relative
            );

            @result: if(@theme =light, @blended, @faded);
        }

        .accessibleText(@bg, @light: #ececec, @dark: #0d0d0d) {
            /* Get the most contrasted text color vs the background color (using default threshold of 43%): */
            @result: contrast(@bg, @light, @dark);
        }
    }

    .colorize(@theme: dark) when(@enableColorize =1) {
        @default: if(@theme =dark, #colorLib.defaults(dark)[], #colorLib.defaults(light)[]);
        @dBg: @default[@bg];
        @dT: @default[@text];

        /* Colorize Element */
        .el() {
            @bg: #colorLib.bgTint(@theme, @dBg)[];
            @text: #colorLib.accessibleText(@bg)[];
            background-color: @bg !important;
            color: @text !important;
        }

        /* Elements to colorize */
        div.w-full.text-token-text-primary:nth-child(2n) when (@colorizeMsgBg =1) {
            .colorize.el();
        }
        div.w-full>textarea#prompt-textarea when (@colorizeInput =1) {
            .colorize.el();
        }
    }

    html {
        &.dark { .colorize(dark)}
        &.light { .colorize(light)}
    }
}
